.marker {
  background: rgba(201, 143, 145, 0.5);
  color: black;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #eb5757;
  min-width: 30px;
}

.container * {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.address {
  margin-top: 0;
}

.address1 {
  margin-bottom: 0;
}
